<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-
awesome/5.13.0/css/all.min.css">
<title>Seja bem vindo ao sistema de Compras Virtual</title>
</head>
<body>
<h1>Seja bem vindo!</h1><br>
<a href="/livros">Listar Livros</a><br>
<a href="/funcionarios">Listar Funcionários<a><br>
<a href="/registar/livro">Cadastrar Livros</a><br>
<a href="/cadastro">Cadastrar Funcionários</a><br>
</body>
</html>